<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="contenedor-padre">
        <!-- HEADER -->
        <header class="header flexbox">
            <div class="header__logo flexbox">
                <img class="logo__acuario" src="../assets/img/Productos/betta/betta-1.png" alt="logo">
                <h1 class="logo__titulo">Acuario Don Diego</h1>
            </div>
            <nav class="header__nav flexbox">
                <ul class="nav__list flexbox">
                    <li class="list__item"><a href="../index.html">Inicio</a></li>
                    <li class="list__item"><a href="../views/producto.html">Producto</a></li>
                    <li class="list__item"><a href="../views/galeria.html">Galeria</a></li>
                    <li class="list__item"><a href="../views/nosotros.html">Nosotros</a></li>
                    <li class="list__item"><a id="actual" href="../views/contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </header>
        <!-- MAIN -->
        <main class="main flexbox">
            <section class="formulario flexbox">
                <form action="#" class="formulario__form flexbox">
                    <div class="input flexbox">
                        <label for="nombre">Nombre</label>
                        <br/>
                        <input type="text" name="nombre" placeholder="Escribe tu nombre" required>
                    </div>
                    <div class="input flexbox">
                        <label for="email">Email</label>
                        <br/>
                        <input type="email" name="email" placeholder="Escribe tu email" required>
                    </div>
                    <div class="input flexbox">
                        <label for="asunto">Asunto</label>
                        <br/>
                        <input type="text" name="asunto" placeholder="Escribe el asunto" required>
                    </div>
                    <div class="input flexbox">
                        <label for="mensaje">Mensaje</label>
                        <br/>
                        <textarea name="mensaje" id="" cols="30" rows="10" required></textarea>
                    </div>
                    <input class="btn" type="submit" value="Enviar">
                </form>
            </section>
            <aside class="aside flexbox">
                <div>
                    <h3 class="aside__publicidad__titulo">Publicidad</h3>
                </div>
                <article class="aside__publicidad__img">
                    <img src="../assets/img/Publicidad/publicidad.png" alt="publicidad">
                </article>
                <article class="aside__publicidad__img">
                    <img src="../assets/img/Publicidad/publicidad.png" alt="publicidad">
                </article>
            </aside>
        </main>
        <!-- FOOTER -->
        <footer class="footer flexbox">
            <div class="footer__copyright flexbox">
                <p>&copy; 2022 Hernán Franco</p>
            </div>
            <div class="footer__logos flexbox">
                <a href="#" target="__blank"><img class="footer__logos__img" src="../assets/img/logos/whatsapp.png" alt="whatsapp"></a>
                <a href="#" target="__blank"><img class="footer__logos__img" src="../assets/img/logos/instagram.png" alt="instagram"></a>
                <a href="#" target="__blank"><img class="footer__logos__img" src="../assets/img/logos/facebook.png" alt="facebook"></a>
            </div>
        </footer>
    </div>
</body>
</html>