<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="contenedor">
        <!-- HEADER -->
        <header class="header">
            <div class="header__logo">
                <img class="logo__img__acuario" src="../assets/img/Productos/betta/betta-1.png" alt="logo">
                <h1 class="logo__titulo">Acuario Don Diego</h1>
            </div>
            <nav class="header__nav">
                <ul>
                    <li class="nav__item"><a href="../index.html">Inicio</a></li>
                    <li class="nav__item"><a href="producto.html">Producto</a></li>
                    <li class="nav__item"><a href="galeria.html">Galeria</a></li>
                    <li class="nav__item"><a href="nosotros.html">Nosotros</a></li>
                    <li class="nav__item"><a id="actual" href="#">Contacto</a></li>
                </ul>
            </nav>
        </header>
        <!-- MAIN -->
        <main class="main">
            <section class="formulario">
                <form action="#">
                    <div class="input">
                        <label for="nombre">Nombre</label>
                        <br/>
                        <input type="text" name="nombre" placeholder="Escribe tu nombre">
                    </div>
                    <div class="input">
                        <label for="email">Email</label>
                        <br/>
                        <input type="email" name="email" placeholder="Escribe tu email">
                    </div>
                    <div class="input">
                        <label for="asunto">Asunto</label>
                        <br/>
                        <input type="text" name="asunto" placeholder="Escribe el asunto">
                    </div>
                    <div class="input">
                        <label for="mensaje">Mensaje</label>
                        <br/>
                        <textarea name="mensaje" id="" cols="30" rows="10"></textarea>
                    </div>
                    <input class="btn" type="submit" value="Enviar">
                </form>
            </section>
            <aside class="aside">
                <div>
                    <h3 class="aside__publicidad__titulo">Publicidad</h3>
                </div>
                <article class="aside__publicidad__img">
                    <img src="../assets/img/Publicidad/publicidad.png" alt="publicidad">
                </article>
                <article class="aside__publicidad__img">
                    <img src="../assets/img/Publicidad/publicidad.png" alt="publicidad">
                </article>
            </aside>
        </main>
        <!-- FOOTER -->
        <footer class="footer">
            <div class="footer__copyright">
                <p>&copy; 2022 Hernán Franco</p>
            </div>
            <div class="footer__logos">
                <a href="#"><img class="footer__logos__img" src="../assets/img/logos/whatsapp.png" alt="whatsapp"></a>
                <a href="#"><img class="footer__logos__img" src="../assets/img/logos/instagram.png" alt="instagram"></a>
                <a href="#"><img class="footer__logos__img" src="../assets/img/logos/facebook.png" alt="facebook"></a>
            </div>
        </footer>
    </div>
</body>
</html>