<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="contenedor">
        <!-- HEADER -->
        <header class="header">
            <div class="header__logo">
                <img class="logo__img__acuario" src="../assets/img/Productos/betta/betta-1.png" alt="logo">
                <h1 class="logo__titulo">Acuario Don Diego</h1>
            </div>
            <nav class="header__nav">
                <ul>
                    <li class="nav__item"><a href="../index.html">Inicio</a></li>
                    <li class="nav__item"><a href="producto.html">Producto</a></li>
                    <li class="nav__item"><a href="galeria.html">Galeria</a></li>
                    <li class="nav__item"><a id="actual" href="#">Nosotros</a></li>
                    <li class="nav__item"><a href="contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </header>
        <!-- MAIN -->
        <main class="main">
            <section class="nosotros">
                <article class="nosotros__articulo--top">
                    <h2>¿Quienes somos?</h2>
                    <img src="../assets/img/Fondo/fondo-verde.jpg" alt="imagen">
                </article>
                <article class="nosotros__articulo--bottom">
                    <p> 
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt inventore incidunt quae iure sed cupiditate ipsa tenetur voluptate repellat minus magnam eveniet nisi illum quam, voluptates minima eos dolorum amet. lo
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi perferendis mollitia quidem fuga quam quae corporis enim, similique voluptatum in id illo amet! Sed exercitationem alias reprehenderit nisi doloribus unde?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio ducimus quibusdam aperiam officia accusamus, reiciendis, odio cum sapiente nemo debitis veritatis illum minus magni asperiores distinctio. Eaque commodi ipsum veniam?
                        Commodi laborum numquam quod ipsa sequi asperiores voluptatum, expedita deleniti, facere recusandae reprehenderit illo nulla nihil quisquam consequatur velit eos qui placeat corporis debitis quidem. Esse possimus maiores in nobis.
                        Obcaecati hic accusamus eius quis recusandae error architecto natus voluptas iure tenetur nihil reprehenderit quia aut aliquid, soluta quisquam! Recusandae, veritatis. Deserunt illo voluptate est nostrum error eos vero consequatur?
                        Praesentium laudantium quisquam sed eaque, cumque vitae accusamus a eveniet. Est blanditiis distinctio, in quae vitae labore iusto iure mollitia, sint atque nam illo excepturi culpa sunt dolore, inventore tempore.
                    </p>
                    <img src="../assets/img/Fondo/fondo-verde.jpg" alt="imagen">
                </article>
            </section>
            <aside class="aside">
                <div>
                    <h3 class="aside__publicidad__titulo">Publicidad</h3>
                </div>
                <article class="aside__publicidad__img">
                    <img src="../assets/img/Publicidad/publicidad.png" alt="publicidad">
                </article>
                <article class="aside__publicidad__img">
                    <img src="../assets/img/Publicidad/publicidad.png" alt="publicidad">
                </article>
            </aside>
        </main>
        <!-- FOOTER -->
        <footer class="footer">
            <div class="footer__copyright">
                <p>&copy; 2022 Hernán Franco</p>
            </div>
            <div class="footer__logos">
                <a href="#" target="__blank"><img class="footer__logos__img" src="../assets/img/logos/whatsapp.png" alt="whatsapp"></a>
                <a href="#" target="__blank"><img class="footer__logos__img" src="../assets/img/logos/instagram.png" alt="instagram"></a>
                <a href="#" target="__blank"><img class="footer__logos__img" src="../assets/img/logos/facebook.png" alt="facebook"></a>
            </div>
        </footer>
    </div>
</body>
</html>