<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="contenedor-padre-servicios">
        <div class="navIzq">
            <ul>
                <li><a href="#">Index</a></li>
                <li><a href="#">Index</a></li>
            </ul>
        </div>
        <div class="logo">
            <img src="../assets/betta-1.png" alt="img" class="logoEncabezado">
        </div>
        <div class="navDer">
            <ul>
                <li><a href="#">Index</a></li>
                <li><a href="#">Index</a></li>
            </ul>
        </div>
        <div class="encabezadoPrincipal">
            <h1>Hola Planeta</h1>
        </div>
        <div class="txtIzq">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, minus, earum quos quisquam nihil ipsum quas debitis vel ullam nesciunt cupiditate illo incidunt ab delectus eligendi sit ea facilis! Labore.</p>
        </div>
        <div class="txtDer">
            <img src="../assets/betta-1.png" alt="img" class="img-texto">
        </div>
        <footer>
            <img src="../assets/betta-1.png" alt="img" class="logoEncabezado">
            <h3>REDES SOCIALES</h3>
            <h3>CONTACTO</h3>
        </footer>
    </div>
</body>
</html>