<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRODUCTOS</title>
</head>
<body>
      <!-- Inicio encabezado  -->
      <header>
        <!-- LOGO -->
        <div>
            <img width="150" src="/Desarrollo web/Clase 2/root/assets/img/betta-1.png" alt="logo">
        </div>
        <!-- cierre logo -->
        <!-- inicio nav -->
        <nav>
            <!-- lista con viñetas -->
            <ul>
                <li><a href="../index.html">HOME</a></li>
                <li><a href="#">PRODUCTOS</a>
                    <ol>
                        <li>REMOTO
                            <ul>
                                <li>index</li>
                                <li>index</li>
                            </ul>
                        </li>
                        <li>PRESENCIAL</li>
                    </ol>
                </li>
                <li><a href="contacto.html">CONTACT</a></li>
            </ul>
            <!-- cierre viñetas -->
        </nav>
        <!-- cierre nav -->
    </header>
    <!-- cierre encabezado -->
    <!-- inicio contenido -->
    <main>
        <!-- tabla -->
       <table border="1" cellpadding="20" cellspacing="20">
           <tr>
               <th>ID</th>
               <th>NOMBRE</th>
               <th>DESCRIPCIÓN</th>
               <th>PRECIO</th>
           </tr>
           <tr>
               <td>01</td>
               <td>PELOTA FUTBOLL</td>
               <td>N°6 DE CUERO</td>
               <td>$5000</td>
           </tr>
           <tr>
               <td>02</td>
               <td>PELOTA FUTBOLL</td>
               <td>N°1 DE CUERO</td>
               <td>$2500</td>
           </tr>
       </table>
       <!-- cierre tabla -->
    </main>
    <!-- cierre contenido -->
    <!-- inicio footer -->
    <footer>
        <!-- LOGO -->
        <img width="150" src="/Desarrollo web/Clase 2/root/assets/img/betta-red.png" alt="betta">
        <!-- cierre logo -->
        <!-- Redes sociales -->
        <div>
            <h3>REDES SOCIALES</h3>
            <img width="50" src="/Desarrollo web/Clase 2/root/assets/img/betta-2.png" alt="redes">
            <img width="50" src="/Desarrollo web/Clase 2/root/assets/img/betta-2.png" alt="redes">
        </div>
        <!-- Contacto -->
        <div>
            <h3>CONTACTO</h3>
        </div>
    </footer>
    <!-- cierre footer -->
</body>
</html>