<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
</head>
<body>
 <!-- Inicio encabezado  -->
 <header>
    <!-- LOGO -->
    <div>
        <img width="150" src="/Desarrollo web/Clase 2/root/assets/img/betta-1.png" alt="logo">
    </div>
    <!-- cierre logo -->
    <!-- inicio nav -->
    <nav>
        <!-- lista con viñetas -->
        < <ul>
            <li><a href="../index.html">HOME</a></li>
            <li><a href="productos.html">PRODUCTOS</a>
                <ol>
                    <li>REMOTO
                        <ul>
                            <li>index</li>
                            <li>index</li>
                        </ul>
                    </li>
                    <li>PRESENCIAL</li>
                </ol>
            </li>
            <li><a href="#">CONTACT</a></li>
        </ul>
        <!-- cierre viñetas -->
    </nav>
    <!-- cierre nav -->
</header>
<!-- cierre encabezado -->
<!-- inicio contenido -->
<main>
    <div>
        <h1>CONTACTO</h1>
    </div>
    <!-- Formulario de contacto -->
    <form action="#">
        <label for="nombre">Nombre
            <input type="text" name="nombre">
        </label>
        <br>
        <input type="text" name="apellido" placeholder="apellido">
        <br>
        <label for="password">Password
            <input type="password" name="password">
        </label>
        <br>
        <label for="edad">Edad
            <input type="number" name="edad">
        </label>
        <div>IZQUIERDA
            <input type="radio" name="direccion" value="izquierda">
        </div>  
        <div>DERECHA
            <input type="radio" name="direccion" value="derecha">
        </div>
        <div>Elegi un talle:
            <select name="talle" id="talle">
                <option value="S">Small</option>
                <option value="M">Medium</option>
                <option value="L">Large</option>
                <option value="XL">XLarge</option>
            </select>
        </div>
        <div>COMENTARIOS:</div>
        <div>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
        <div>Acepto terminos y condiciones
            <input type="checkbox" name="aceptar" value="1">
        </div>
        <br>
        <input type="submit" value="SEND">
        <input type="reset" value="RESET">
        <input type="button" value="NO HAGO NADA">
    </form>

    <div>
        <h3>Ubicación</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7802.31504643104!2d-58.38598984248244!3d-34.69333934685959!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccdee45ade187%3A0x46a8b478c0c9bf7b!2sEasy!5e0!3m2!1ses-419!2sar!4v1642689672416!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</main>
<!-- cierre contenido -->
<!-- inicio footer -->
<footer>
    <!-- LOGO -->
    <img width="150" src="/Desarrollo web/Clase 2/root/assets/img/betta-red.png" alt="betta">
    <!-- cierre logo -->
    <!-- Redes sociales -->
    <div>
        <h3>REDES SOCIALES</h3>
        <a href="https://www.instagram.com/bettaclub_argentina/" target="_blank">
            <img width="50" src="/Desarrollo web/Clase 2/root/assets/img/betta-2.png" alt="redes">
        </a>
        <img width="50" src="/Desarrollo web/Clase 2/root/assets/img/betta-2.png" alt="redes">
    </div>
    <!-- Contacto -->
    <div>
        <h3>CONTACTO</h3>
    </div>
</footer>
<!-- cierre footer -->

</body>
</html>